openapi: 3.2.0
info:
  title: ELSA Speech Assessment Unscripted API
  description: The ELSA API scores recorded or streamed English audio for non-native speakers across pronunciation, fluency, intonation, grammar, and vocabulary, returning sentence, word, and phoneme-level feedback.
  termsOfService: https://www.elsaspeak.com/en/terms-of-service/
  contact:
    name: ELSA API
    url: https://api-external-doc.elsanow.co/
  version: '1.0'
servers:
- url: https://api.elsanow.io
  description: ELSA batch speech-scoring API host (HTTP). Realtime scoring uses the wss:// scheme on the same host.
security:
- ElsaAuth: []
tags:
- name: Unscripted
paths:
  /api/v1/score_audio_plus:
    post:
      operationId: scoreAudioUnscripted
      tags:
      - Unscripted
      summary: Score a recorded audio file with no reference script (batch)
      description: Single-file (batch) unscripted scoring. Submit spontaneous English audio with no reference script and an API plan; returns a spoken transcript plus pronunciation, prosody/intonation, fluency, grammar, and vocabulary analysis with improvement suggestions. Exact request and response schemas are partner-gated; see the ELSA developer documentation for the authoritative field definitions.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              description: Multipart form containing at least an api_plan field and an audio_file field. Full field set is documented in the partner API reference.
      responses:
        '200':
          description: Scoring result (unscripted). Schema is partner-gated; not modeled here.
components:
  securitySchemes:
    ElsaAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token passed in the Authorization header using the ELSA scheme, e.g. "Authorization: ELSA <API_token>". Tokens are issued to partners; an optional master key can generate tokens programmatically. Request access via the ELSA website.'
